@font-face {
  font-family: 'Orpheus Pro';
  src: url('../fonts/OrpheusPro.woff2') format('woff2'),
    url('../fonts/OrpheusPro.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: rgb(252, 245, 231);
  font-family: 'Orpheus Pro';
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

body,
html {
  margin: 0;

  height: 100%;
  padding: 0;
}
.navigation {
  top: 0;
}

.navigation li {
  color: #fff;
  display: inline-block;
  height: 80px;
  list-style: none;
  padding: 0;
  transition: background 0.5s;
  font-size: 45px;
}

.navigation ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  height: 100%;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin-top: 0px;
}
#adjust {
  text-align: center;

  cursor: pointer;
  animation: spin 7s linear infinite;
  font-size: 35px;
  margin-top: -2rem;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.change {
  background-color: rgb(0, 0, 0);
  color: white;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  min-height: 500px;
}

.wrapper {
  padding: 3.5rem;
}

.wrapper--np {
  padding-top: 0;
  padding-bottom: 0;
}

.main p {
  position: relative;
  font-size: 4rem;
  text-align: center;
  line-height: 1.5;
  word-wrap: normal;
  width: 80%;
  /* margin-top: 75px; */
  margin-bottom: 0;
  margin-top: 0;
}

.socials a {
  padding: 1.5rem;
}

.socials {
  padding-top: 2rem;
}
a {
  color: rgb(0, 0, 0);
  transition: all 0.3s ease-in-out;
  font-size: 2rem;
}
a:hover {
  font-size: 2.5rem;
}
.navigation a {
  position: relative;
}

.navigation a:hover:before {
  width: 100%;
}

.navigation a:before {
  content: '';
  position: absolute;
  left: 0;
  width: 0%;
  bottom: 0;
  height: 2px;
  background-color: black;
  transition: all 0.3s ease-in-out;
}

/* About page css */
.pagetitle {
  position: relative;
  text-align: center;
  margin-top: 100px;
  font-size: 70px;
}

.aboutcontainer {
  height: 600px;
  position: relative;
  margin: 0 auto;
  max-width: 800px;
  text-align: center;
}
.aboutcontainer p {
  font-size: 30px;
  line-height: 1.7;
}

.aboutcontainer h2 {
  font-size: 40px;
}

.aboutcontainer i {
  display: inline-block;
  font-size: 40px;
  margin: 20px 20px;
}

.projectcontainer {
  /* background-color: green; */
  width: 100%;
  max-width: 1100px;
  height: 500px;
  margin: 10px;
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.projectcontainer img,
img {
  position: relative;
  align-self: center;
  top: 17px;
  width: 300px;
  height: auto;
  /* border: rgb(143, 143, 140) solid; */
  border-radius: 10%;
  min-width: 150px;
  max-width: 100%;
  opacity: 1;
}
@media screen and (max-width: 640px) {
  .projectcontainer {
    justify-content: center;
    /* align-content: center; */
    align-self: center;
  }
  .img1container,
  .img2container,
  .img3container,
  .img4container {
    /* align-self: center; */
    width: 100%;
  }
  .main p {
    font-size: 2rem;
  }
  .wrapper {
    padding: 2rem;
  }
  .aboutcontainer p {
    font-size: 1.7rem;
    line-height: 1.6;
  }
}

@media screen and (max-width: 768px) and (min-width: 640px) {
  .main p {
    font-size: 3rem;
  }
}

.img1container,
.img2container,
.img3container,
.img4container {
  width: 400px;
  position: relative;
  height: 200px;
  margin: 0 20px;
  top: 30px;
  background-color: rgb(262, 255, 241);
  display: flex;
  justify-content: center;
  border: white solid;
  border-radius: 70px;
}
.img2container {
  right: 0;
}

.img3container {
  left: 0;
}

.overlayimg1,
.overlayimg2,
.overlayimg3,
.overlayimg4 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(252, 245, 231);
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: 0.5s ease;
  opacity: 0.5;
  border-radius: 70px;
}

.overlayimg2,
.overlayimg4 {
  left: 100%;
}

.img1container:hover .overlayimg1 {
  width: 100%;
}

.img2container:hover .overlayimg2 {
  width: 100%;
  left: 0;
}

.img3container:hover .overlayimg3 {
  width: 100%;
}

.img4container:hover .overlayimg4 {
  width: 100%;
  left: 0;
}

.overlaytext {
  white-space: nowrap;
  color: black;
  font-size: 30px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.intro {
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  width: 100%;
  height: 100%;
  background-color: rgb(252, 245, 231);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(100%);
}

.intro-text {
  color: white;
  font-family: 'Orpheus Pro';
  font-size: 3rem;
}

.hide {
  background: black;
  overflow: hidden;
}

.hide span {
  transform: translateY(100%);
  display: inline-block;
}

#particles-js {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.particles-dark {
  z-index: 1;
}
